<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="partitionsSection" type="Nauplius.SharePoint.ADLDS.UserProfiles.PartitionsSection, Nauplius.SharePoint.ADLDS.Configuration"/>
  </configSections>
  
  <appSettings>
    <add key="ClaimsIdentifier" value="i:0#.f"/>
    <add key="ImportTimer" value="1"/>
    <add key="PreferredName" value="displayName"/>
    <add key="WorkPhone" value="telephoneNumber"/>
    <add key="FirstName" value="givenName"/>
    <add key="LastName" value="sn"/>
    <add key="WorkEmail" value="mail"/>
    <add key="Office" value="physicalDeliveryOfficeName"/>
    <add key="Title" value="title"/>
    <add key="Department" value="department"/>
    <add key="WebSite" value="wWWHomePage"/>
    <add key="ADGuid" value="objectGuid"/>
  </appSettings>
  
  <partitionsSection xmlns="Nauplius.SharePoint.ADLDS.UserProfiles">
    <partitions>
      <partition server="adlds01" port="636" dn="CN=SharePoint,DC=fabrikam,DC=local" useSSL="true" webApplication="http://fabrikam" logonAttribute="mail" />
    </partitions>
  </partitionsSection>
</configuration>