<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="partitionsSection" type="Nauplius.SharePoint.ADLDS.UserProfiles.PartitionsSection, Nauplius.SharePoint.ADLDS.Configuration"/>
  </configSections>
  
  <appSettings>
    <!-- Claims Identifier -->
    <add key="ClaimsIdentifier" value="i:0#.f"/>
    
    <!-- Interval time in minutes -->
    <add key="ImportTimer" value="30"/>
    
    <!-- LDAP filter -->
    <add key="LDAPObjectFilter" value="(&amp;(objectClass=user))"/>
    
    <!-- Attribute mapping key -->
    <add key="Department" value="department"/>
    <add key="FirstName" value="givenName"/>
    <add key="LastName" value="sn"/>
    <add key="Office" value="physicalDeliveryOfficeName"/>
    <add key="PreferredName" value="displayName"/>
    <add key="Title" value="title"/>
    <add key="WebSite" value="wWWHomePage"/>
    <add key="WorkEmail" value="mail"/>
    <add key="WorkPhone" value="telephoneNumber"/>
    
    <!-- Delete Profiles for users removed from AD LDS/ADAM.  This leverages the dn specified for the partition.
    This effects users who have had their DN changed (e.g. moved) or deleted, not disabled.  Set DeleteProfiles to
    "false" to disable this functionality. -->
    <add key="DeleteProfiles" value="true"/>

    <!-- The value for Information logging (such as Updated/New User Profiles).  Valid values are "Error" or "Informational". -->
    <add key="Logging" value="Informational"/>
  </appSettings>
  
  <partitionsSection xmlns="Nauplius.SharePoint.ADLDS.UserProfiles">
    <partitions>
      <!-- Example partition -->
      <!--
      <partition server="adlds01" port="389" dn="CN=SharePoint,DC=fabrikam,DC=local" useSSL="false" webApplication="http://fabrikam" logonAttribute="mail" />
      -->
    </partitions>
  </partitionsSection>
</configuration>